.disable-notification {
    width:125px;
    position: relative;
}

.disable-notification input[type="checkbox"] {
    position: absolute;
}

.main {
    min-width:250px;
}

.main table thead {
    font-weight: bold;
}

.main table {
    min-width:450px;
}

.icon-danger {
    color:#a94442;
}

.icon-success {
    color:#3c763d;
}

.icon-info {
    color:#31708f;
}

.icon-warning {
    color:#8a6d3b;
}

.no-items {
    text-align: center;
    padding-bottom: 35px;
    opacity:0.5;
}